<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>NiceGold</display-name>
	<welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.CardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>com.nicegold.servlet.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>com.nicegold.servlet.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailsServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.UpdateDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCardServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.DeleteCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductsServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.AddProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductCardServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.AddProductCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCardServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.DeleteProductCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeAllPostServlet</servlet-name>
        <servlet-class>com.nicegold.servlet.SeeAllPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardServlet</servlet-name>
        <url-pattern>/CardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailsServlet</servlet-name>
        <url-pattern>/UpdateDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCardServlet</servlet-name>
        <url-pattern>/DeleteCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductsServlet</servlet-name>
        <url-pattern>/AddProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductCardServlet</servlet-name>
        <url-pattern>/AddProductCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCardServlet</servlet-name>
        <url-pattern>/DeleteProductCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeAllPostServlet</servlet-name>
        <url-pattern>/SeeAllPostServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>